body{
   background: rgb(28, 161, 214);
   font: normal 15pt Arial;
}

header{
   color: white;
   text-align: center;
}

section{
   background: white;
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px #00000079;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#msg{
   margin-top: 15px;
   font-size: 24pt;
}
footer{
   color: white;
   text-align: center;
   font-style: italic;
}